html,
body {
    height: 100%;
}

.page {
    padding: 6rem 0;
}

nav li{
    font-weight: bold;
}

/* Hero */

.hero {
    margin-top: 5rem;
    background-image: linear-gradient(rgba(8,15,40,.8),rgba(8,15,40,.9)),url("/SIR/img/background.jpg");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.logo {
   width: 100px;
   height: 100px;
}

.search-bar {
    width: 10rem;
}

/* About */

hr.divider{
    height: 0.3rem;
    max-width: 4rem;
    margin: 1.5rem auto;
    background-color: white;
    opacity: 0.75;
}

/* Team */

.team-member {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
}
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(128, 128, 128, 0.5);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

/* Form */

.form input{
  padding: 1.25rem;
  margin-bottom: 0.5rem;
}

.form-message input{
  min-height: 13.5rem;
}
