html,
body {
    height: 100%;
}

nav li{
    font-weight: bold;
}

.hero {
    background-image: linear-gradient(rgba(8,15,40,.8),rgba(8,15,40,.9)),url("/SIR/img/background.jpg");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.logo {
   width: 100px;
   height: 100px;
}

.search-bar {
    width: 50px;
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
}
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(128, 128, 128, 0.5);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

