html,
body {
    height: 100%;
}

.page {
    padding: 6rem 0;
}

nav li{
    font-weight: bold;
}

/* Hero */
.hero {
    height: 100%;
    padding-top: 10rem;
    background-image: url(/SIR/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    
    .bar-size {
        width: 60%;
    }
}

/* About */
hr.divider{
    height: 0.3rem;
    max-width: 4rem;
    margin: 1.5rem auto;
    background-color: white;
    opacity: 0.75;
}

/* Team */
.team-member {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
}
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(128, 128, 128, 0.5);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

/* Form */
.form input{
  padding: 1.25rem;
  margin-bottom: 0.5rem;
}

.form-message input{
  min-height: 13.5rem;
}
